{{>head}}
{{> navbar}}
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-4" style="height: max-content;">
            <img src="assets/img/prueba.jpg" class="img-thumbnail">
        </div>
    </div>
{{>footer}}